{% extends 'base.html' %}

{% block content %}

{% block content_header %}

{% if messages %}
	<ul class="messages">
		{% for msg in messages %}
		
			<div class="alert alert-success - {{msg.level_tag}}" role="alert">
				{{msg.message}}				
			</div>
		
		{% endfor %}
	</ul>
{% endif %}

<h2>Books</h2>
<p>
	<a href="{% url 'upload_book' %}" class="btn btn-primary">Cargar Encuesta</a>
</p>
{% endblock %}

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Id</th>
			<th>Pais</th>
			<th>Nacionalidad</th>
			<th>Acompañantes</th>
			<th>Edad</th>
		</tr>
	</thead>
	<tbody>
		{% for book in books %}
			<tr>
				<td>{{book.id}}</td>
				<td>{{book.pais}}</td>
				<td>{{book.nacionalidad}}</td>
				<td>{{book.Acompañantes}}</td>
				<td>{{book.edad}}</td>
				<td>
					<form method="post" action="{% url 'delete_book' book.pk %}">
						{% csrf_token %}
						<button type="submit" class="btn btn-danger btn-sm">Delete</button>
					</form>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}